/* customized */
.header {
	padding: 0px 0;
	background: #FBFBFB;
}

.custom-left {
	float: left;
}

.custom-right {
	float: right;
}

.logo a {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 50px;
    color: #01a185;
	text-decoration:none!important;
}

.logo a span {
	color:#f3c500;
}

a.account {
    float: left;
    margin-top: 20px;
    font-size: 15px;
    color: #fff;
    background-color: #01a185;
    padding: 6px 20px;
    text-decoration: none!important;
}

a.account:hover {
	background-color: #f3c500;
}

span.active.uls-trigger {
    float: left;
    cursor: pointer;
    font-size: 14px;
    color: #6D6D6D;
    margin-top: 26px;
}

/* categories */
.categories {
    padding: 40px 0;
}

.focus-grid a {
	text-decoration:none!important;
}

.focus-grid a {
	text-decoration:none!important;
}

.focus-grid {
    margin-top: 30px;
}

.focus-grid h4{
	text-align:left;
    font-weight: 400;
    color: #323232;
}

.focus-border{
border:1px solid #e7eaed;
}

.focus-layout{
	background:#FBFBFB;
	
	margin: 5px;
    padding: 20px 0;
    transition: 0.5s all;
	text-align: center;
	
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

.focus-layout:hover {
    background-color: #01a185;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

.focus-layout h4{
	margin: 0 0 0 0;
	color:#4C4C4C;
	font-size: 18px;
	text-align:center;
	height: 35px;
	margin-top: 20px;
}

.focus-layout:hover h4.clrchg {
    color: #fff;
}

.focus-image{
  text-align: center;
  transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

.focus-image i {
    font-size: 40px;
    color: #fff;
    /*background: #dd0908;*/
    background: #0D4077;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    line-height: 95px;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

.focus-layout:hover div.focus-image i{
	background:#FBFBFB;
	color:#000;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
/* /.categories */

/* footer */
.footer-bottom {
    background: #3c3d41;
    padding: 30px 0;
}

.footer-bottom p {
    margin: 20px 0 0 0;
    color: #fff;
    font-size: 14px;
}

.copyrights p,.diff p {
    color: #979797;
    font-size: 14px;
	margin-top:0;
}

.copyrights p a,.diff p a {
	color:#F3C506;
	margin-left:2px;
}

.copyrights p a:hover,.diff p a:hover {
	color:#01A185;
}
/* /.footer */